<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_MODE_VIE' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <p *ngIf="!slideTroisForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <form [formGroup]="slideTroisForm">

    <ion-list radio-group formControlName="tabac_check">
      <p>{{ 'FORM_TABAC_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.tabac_check.valid && (slideTroisForm.controls.tabac_check.dirty || submitAttempt)">{{ 'FORM_TABAC_OPTION_1' | translate }}</ion-label>
        <ion-radio (click)="fumeOui()" value="{{ 'FORM_TABAC_OPTION_1' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.tabac_check.valid && (slideTroisForm.controls.tabac_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.tabac_check.valid && (slideTroisForm.controls.tabac_check.dirty || submitAttempt)">{{ 'FORM_TABAC_OPTION_2' | translate }}</ion-label>
        <ion-radio (click)="fumeNon()" value="{{ 'FORM_TABAC_OPTION_2' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.tabac_check.valid && (slideTroisForm.controls.tabac_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!slideTroisForm.controls.tabac_check.valid  && (slideTroisForm.controls.tabac_check.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <ion-item *ngIf="questionsTabac" no-lines class="itemSelect">
      <ion-label *ngIf="!labelFrequenceTabac" floating>{{ 'FORM_FREQUENCE_TABAC' | translate }}</ion-label>
      <ion-label class="labelStacked" *ngIf="labelFrequenceTabac" stacked>{{ 'FORM_FREQUENCE_TABAC' | translate }}</ion-label>
      <ion-select interface="popover" formControlName="frequence_tabac" (click)="changeLabel()" [class.invalid]="!slideTroisForm.controls.frequence_tabac.valid && (slideTroisForm.controls.frequence_tabac.dirty || submitAttempt)">
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_1' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_1' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_2' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_2' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_3' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_3' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_4' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_4' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_5' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_5' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_6' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_6' | translate }}</ion-option>
        <ion-option value="{{ 'FORM_FREQUENCE_TABAC_OPTION_7' | translate }}">{{ 'FORM_FREQUENCE_TABAC_OPTION_7' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <p *ngIf="!slideTroisForm.controls.frequence_tabac.valid  && (slideTroisForm.controls.frequence_tabac.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p> 

    <ion-item *ngIf="questionsTabac" no-lines>
      <ion-label floating>{{ 'FORM_DATE_TABAC' | translate }}</ion-label>
      <ion-datetime cancelText="annuler" doneText="valider" [class.invalid]="!slideTroisForm.controls.date_tabac.valid && (slideTroisForm.controls.date_tabac.dirty || submitAttempt)" formControlName="date_tabac" displayFormat="YYYY" >
      </ion-datetime>
    </ion-item>
    <p *ngIf="!slideTroisForm.controls.date_tabac.valid  && (slideTroisForm.controls.date_tabac.dirty || submitAttempt)">{{ 'FORM_DATE_TABAC_ALERTE' | translate }}</p> 

    <ion-list radio-group formControlName="activite_check">
      <p>{{ 'FORM_ACTIVITE_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_ACTIVITE_OPTION_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_ACTIVITE_OPTION_1' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_ACTIVITE_OPTION_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_ACTIVITE_OPTION_2' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_ACTIVITE_OPTION_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_ACTIVITE_OPTION_3' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_ACTIVITE_OPTION_4' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_ACTIVITE_OPTION_4' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_ACTIVITE_OPTION_5' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_ACTIVITE_OPTION_5' | translate }}" [class.invalid-bis]="!slideTroisForm.controls.activite_check.valid && (slideTroisForm.controls.activite_check.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!slideTroisForm.controls.activite_check.valid  && (slideTroisForm.controls.activite_check.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
  
  </form>
  
  <button class="ButtonValide" ion-button icon-end large clear (click)="nextPage()">
    {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
